<section class="index-page">
  <img class="avatar" src='{{image}}' />
  <h1>
    Hello {{username}}
  </h1>
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
  <a href="/auth/logout">Log Out</a>
</section>